./symfony-app/public/build/fonts/glyphicons-*
./symfony-app/public/build/images/glyphicons-*

./symfony-app/.php-version

###> symfony/framework-bundle ###
./symfony-app/.env.local
./symfony-app/.env.local.php
./symfony-app/.env.*.local
./symfony-app/config/secrets/prod/prod.decrypt.private.php
./symfony-app/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
./symfony-app/.phpunit.result.cache
./symfony-app/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
./symfony-app/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> phpstan/phpstan ###
./symfony-app/phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
./symfony-app/phpunit.xml
./symfony-app/.phpunit.result.cache
###< phpunit/phpunit ###
